@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
	box-sizing: border-box;
	background-color: #fff;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 56px;
}

ul {
	padding-left: 5%;
}

li {
	list-style: none;
}

input {
    text-align: center;
    font-size: x-large;
    border-radius: 1em;
    border-color: black;
    width: 75%;
    margin-bottom: 25px;
}

button {
	float: right;
}

::-webkit-input-placeholder {
	color: #757575;
}

span {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
}

.container {
	padding-top: 50px;
}

.main-wrapper {
	border: 2px solid #000;
	margin: 0 auto;
	width: 35%;
	text-align: center;
}

.taskElement {
	border: 1px solid white;
    text-align: left;
    margin-bottom: 8px;
    width: 92%;
    padding: 2px 0px 6px 9px;
    box-shadow: 0 0px 6px #a9a8a8;
}