@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
	box-sizing: border-box;
	background-color: #FF9800;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 56px;
}

ul {
	padding-left: 5%;
}

li {
	list-style: none;
}

input {
    text-align: center;
    font-size: x-large;
    border-radius: 1em;
    border-color: black;
    width: 75%;
    margin-bottom: 25px;
}

button {
	float: right;
    margin: 3px 6px 0 0;
    padding: 1px 3px 2px 3px;
    border-color: #9C27B0;
    background-color: #9C27B0;
    color: #fff;
    border-radius: 1em;
    font-weight: 900;
}

::-webkit-input-placeholder {
	color: #757575;
}

p {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-top: 20px;
}

span {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
}

.container {
	padding-top: 50px;
}

.main-wrapper {
	border: 2px solid #000;
	margin: 0 auto;
	width: 35%;
	text-align: center;
}

.taskElement {
	border: 1px solid #000;
    text-align: left;
    margin-bottom: 8px;
    width: 92%;
    padding: 2px 0px 6px 9px;
    box-shadow: 0 0px 3px #9C27B0;
}